body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
